@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.Calculator{
    border:  1px solid black;
    padding:20px;
    background:transparent;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}
input{
    width:320px;
    border:none;
    padding:24px;
    margin:10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor:pointer;
    color:#ffffff
}
input::placeholder{
    color:#ffffff;
}
button{
    border:none;
    width:60px;
    height:60px;
    margin:10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size:20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor:pointer;
}
.equalbtn{
    background-color: #fb7c14;
}
.op{
    color:rgb(7, 236, 7);
}
